# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [14]:
import pandas as pd

# URLs van de datasets
urls = [
    "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv",
    "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv",
    "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"
]

# Combineer de datasets
dataframes = [pd.read_csv(url) for url in urls]
combined_df = pd.concat(dataframes, ignore_index=True)

# Definieer een schoonmaakfunctie
def clean_data(df):
    # Verwijder dubbele rijen
    df = drop_duplicates(df)
    # Vul ontbrekende waarden in
    df = df.fillna(0)
    # Zorg ervoor dat kolomnamen consistent zijn
    df.columns = [col.strip().lower() for col in df.columns]
    return df

# Functie voor het verwijderen van dubbele rijen
def drop_duplicates(df):
    return df.drop_duplicates()

# Pas de schoonmaakfunctie toe
cleaned_df = clean_data(combined_df)

# Controleer op duplicaten
duplicates = cleaned_df.duplicated().sum()
print(f"Aantal dubbele rijen: {duplicates}")

# Controleer op ontbrekende waarden
missing_values = cleaned_df.isnull().sum()
print("Ontbrekende waarden per kolom:")
print(missing_values)

# Toon de eerste paar rijen
cleaned_df.head()

Aantal dubbele rijen: 0
Ontbrekende waarden per kolom:
customer                     0
st                           0
gender                       0
education                    0
customer lifetime value      0
income                       0
monthly premium auto         0
number of open complaints    0
policy type                  0
vehicle class                0
total claim amount           0
state                        0
gender                       0
dtype: int64

,customer,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount,state,gender
0,RB50392,Washington,0,Master,0,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,0,0
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,0,0
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,0,0
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,0,0
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,0,0

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [24]:
import pandas as pd

# URL of the dataset
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"

# Load the dataset
df = pd.read_csv(url)

# Clean column names (strip spaces, make lowercase)
df.columns = [col.strip().lower() for col in df.columns]

# Check the first few rows to understand the data structure
print("First few rows of the dataset:")
print(df.head())

# Create a pivot table to calculate total revenue (customer_lifetime_value) per sales channel
pivot_table = df.pivot_table(
    values='customer_lifetime_value',  # Use 'customer_lifetime_value' for total revenue
    index='sales_channel',  # Group by sales channel
    aggfunc='sum'  # Sum the revenue for each sales channel
)

# Round the total revenue to 2 decimal points
pivot_table['customer_lifetime_value'] = pivot_table['customer_lifetime_value'].round(2)

# Display the pivot table
print("\nPivot table showing total revenue per sales channel:")
print(pivot_table)

First few rows of the dataset:
   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]

Pivot table showing total revenue per sales channel:
               customer_lifetime_value
sales_channel
Agent                      33057887.85
Branch                     24359201.21
Call Center                17364288.37
Web                        12697632.90

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [21]:
df["sales_channel"].value_counts()

sales_channel
Agent          4121
Branch         3022
Call Center    2141
Web            1626
Name: count, dtype: int64

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [32]:


pivot_table = df.pivot_table(
    values='customer_lifetime_value',  # Use 'total_claim_amount' for total revenue"
    index='sales_channel',  # Group by sales channel
    aggfunc='sum'  # Sum the revenue for each sales channel
)

# Round the total revenue to 2 decimal points
pivot_table['customer_lifetime_value'] = pivot_table['customer_lifetime_value'].round(2)

# Display the pivot table
print("\nPivot table showing total revenue per sales channel:")
pivot_table

Pivot table showing total revenue per sales channel:

               customer_lifetime_value
sales_channel
Agent                      33057887.85
Branch                     24359201.21
Call Center                17364288.37
Web                        12697632.90

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here